# Tokens generated using the Incoming Webhooks App: https://epic-devs.slack.com/marketplace/A0F7XDUAZ-incoming-webhooks?tab=settings
SLACK_TEST_WEBHOOK_URL=https://hooks.slack.com/services/XXX/XXX/XXX
SLACK_GENERAL_WEBHOOK_URL=https://hooks.slack.com/services/XXX/XXX/XXX
